[2018-01-30 07:53] nahun opened #1 "Library fails to load when uploaded songs are present"
After entering my credentials I get the following exceptions. I'm using an App password to login since I have 2FA setup, not sure if that matters.

I installed with pip and then tried the manual method as well with virtualenv and got the same error.

[code]
I honestly didn't do much troubleshooting, sorry. But the project looks pretty cool,

[2018-01-30 08:38] and3rson commented on #1
Thanks for the report! I'll take a look at in in around an hour.

[2018-01-30 09:35] and3rson commented on #1
@nahun Do you have any uploaded songs in your library?

[2018-01-30 10:55] and3rson commented on #1
I've just fixed a typo, you can try now. Thanks!

[2018-01-30 13:23] DelusionalLogic commented on #1
I'm having the same issue. I can't quite post the traceback, since it appear impossible to copy from the client, and it swallows my error. I might suggest making a flag to allow error logging to a file.

Anyhow, it seems to stumble on uploaded songs, even in master. Here's a screenshot:

![image](https://user-images.githubusercontent.com/1043027/35568262-965049ae-05c8-11e8-9250-482ddefd1c3c.png)

[2018-01-30 13:29] and3rson commented on #1
@DelusionalLogic Thanks for reporting! I've pushed a temporary workaround to skip such tracks so that you can use app while I'm still fixing it. Can you try it again?

[2018-01-30 15:23] DelusionalLogic commented on #1
The fix seems to work for now 👍 🎉

[2018-01-30 16:25] #1 closed

[2018-01-30 16:25] and3rson commented on #1
Thanks for confirmation!

[2018-01-31 11:41] JPRuehmann opened #3 "Failed to request Media URL:"
Hello

Every time I try to start a song I get the following Error.

Failed to request Media URL: Store Tracks require a Subscription to stream. (https://goo.gl/v1wvht)

How can I make it Play my Songs?
Thanks,

[2018-01-31 11:46] JPRuehmann opened #4 "Keybinder Error"
Hello

Every Time I start Clay I get the following Error.

Could not import Keybinder and GTK.
Error was: "Namespace Keybinder not available"
Global Shortcuts will not work.

How can I make this error Disappear?
I am using Kubuntu 16.04 LTS (32Bit)

Thanks,

[2018-01-31 11:50] and3rson commented on #4
Hi,

You need to install `keybinder-3.0` package to fix this.

Let me know if this fixes you issue!

[2018-01-31 12:13] and3rson commented on #3
Does it happen as well if you try to play a song on the search page?

[2018-01-31 12:27] JPRuehmann commented on #4
Nope,

Did not change anything.

Thanks,

[2018-01-31 12:28] JPRuehmann commented on #3
Yes, as well.

[2018-01-31 12:32] JPRuehmann commented on #4
Thanks for the Tip.

`sudo apt install python-keybinder` does the Trick.

[2018-01-31 12:32] #4 closed

[2018-01-31 21:10] j605 opened #5 "Regarding 2FA"
For people with 2FA, just create an app password in Google accounts page and proceed normally. Everything else works as advertised :)

[2018-01-31 21:59] and3rson commented on #3
@JPRuehmann can you update to 0.5.6 (there's a new "Debug" tab there) and paste the error here?

[2018-01-31 22:04] and3rson commented on #5
Thanks for the info! I've added this to readme doc.

[2018-01-31 22:04] #5 closed

[2018-02-01 10:02] JPRuehmann commented on #3
GP::ListPlaylistEntries(*(), **{'max_results': 20000, 'updated_after': None, 'start_token': None})

[2018-02-01 10:27] and3rson commented on #3
Can you also post an error that appears in debug tab when you try to play a song?

[2018-02-01 10:43] JPRuehmann commented on #3
![screenshot_20180201_113936](https://user-images.githubusercontent.com/4321829/35674502-284c69aa-0745-11e8-8245-2abb78888366.png)

[2018-02-01 13:22] schorsch3000 opened #6 "2FA not working"
I know it's documented as properly non-working.
with an 2FA account clay will not work.
I'm going to try generating an app-specific-password later today to se if we can work around for now.

[2018-02-01 13:27] and3rson commented on #6
Thanks! Let us know once you have any updates.

[2018-02-01 13:28] and3rson commented on #3
@JPRuehmann can you hit Alt+M on some song and post values of "source" and "storeID" fields?

[2018-02-01 13:38] JPRuehmann commented on #3
![screenshot_20180201_143743](https://user-images.githubusercontent.com/4321829/35681386-83b3a390-075d-11e8-8a22-850afc9e2499.png)

[2018-02-01 13:41] JPRuehmann commented on #3
Yes, on my Mobile everything works fine.
By the Way I don´t have a Abo.
I am buying the Tracks one for one.
Thanks,

[2018-02-01 17:44] svHatch opened #7 "Could not import keybinder and Gtk"
Could not import Keybinder and Gtk. Error was: "Namespace Keybinder not available"
Global shortcuts will not work.

This fixed it (from  http://www.webupd8.org/2013/07/fuzzy-window-switcher-for-ubuntu.html):
    sudo apt-get install libkeybinder-3.0-0 gir1.2-keybinder-3.0

not sure if this was intended functionality, but it's pretty useless without the keybinder. Maybe this could be added to the r

[2018-02-01 18:50] schorsch3000 commented on #6
i can't get clay up and running at my pc at home, since my libprotobuf is to old, but i'll give it a try tomorrow at the office (where is listen to music all day long).

[2018-02-02 13:47] and3rson commented on #3
Hey @JPRuehmann, sorry for the delay. Can you try version 0.6.1 and see if it works?

[2018-02-02 14:40] and3rson commented on #3
@JPRuehmann I've just pushed 0.6.2, it should be working now. I've tested it with purchased tracks. Let me know if it works :)

[2018-02-02 14:46] and3rson commented on #3
Related: stevenleeg/geemusic#42

[2018-02-02 14:47] and3rson commented on #3
I've had this issue as well. It happens when a user doesn't have a subscription, but is trying to play some uploaded or purchased tracks.

I fixed this by using the following logic in my code:

[code]

The deal here is that most tracks have `id` (library ID) and `storeId` (store ID). To play purchased tracks, you need to pass the library ID (`id`) to `get_stream_url`, **NOT** the `storeId`.

[2018-02-02 17:46] JPRuehmann commented on #3
Hello
Thanks for the Quick Help.
It now works like a charm.
Great App.

[2018-02-02 17:46] #3 closed

[2018-02-02 17:49] JPRuehmann commented on #7
https://github.com/and3rson/clay/issues/4

[2018-02-03 09:03] schorsch3000 commented on #6
So, using a app-specific password works as intended.

I've got some question there, i'm not sure if i should open a ticket for.

I'm "only" able to listen to my uploaded music, nut the music-lib you'll get with the subscription.
is this intended, not done yet, a bug, or just a plain old pebkec?

[2018-02-03 09:13] and3rson commented on #6
Hmm, interesting. Listening to any track using a subscription should actually work. Can you open a new ticket and provide more info there?

[2018-02-03 09:35] schorsch3000 commented on #6
Sure.
Im not sure about the "more info", but i'll make make it a wishlist.

Back to topic:
while app specific passwords work, security wise, that defeats the 2FA purpose.
is 2FA on the roadmap?

[2018-02-03 09:41] and3rson commented on #6
Currently entire communication with GP servers is handled by gmusicapi library. I haven't checked if they have 2FA, but unfortunately I think that's something that is missing.

[2018-02-03 09:41] schorsch3000 opened #8 "Support playback of on-demand tracks / playlists"
Currently it seems i'm not able to play anything than my own uploaded tracks.
It would be nice to play playlists, stations and just any song provided by the on-demand subscription thingy.

If there is anything i can do to help out here, fell free to ask.

[2018-02-03 09:52] and3rson commented on #8
Do you get any errors? Also, what version are you using?

[2018-02-03 09:53] schorsch3000 commented on #6
At least it's not documented, so it'S out of this project's scope.
So should this issue be closed or kept as a reminder?

[2018-02-03 09:54] and3rson commented on #7
@svHatch does it fix your issue?

[2018-02-03 09:57] schorsch3000 commented on #8
I cant say for sure atm, i'Ve not got clay running at home due to my old libprotobuf at home, so i cant't say for sure til monday, but i remember the search only shows my own uploaded songs, and i did not found any way to search / start stations.
No errors are shown, it just looks like it's not implemented just yet, should it be?

[2018-02-03 10:03] and3rson commented on #8
Do you have an active paid monthly subscription for music?

On 3 лют. 2018 11:57, at 11:57, schorsch3000 <notifications@github.com> wrote:

[2018-02-03 10:06] schorsch3000 commented on #8
Yes.
I really hope it doesn't matter, ist the "pay a bit more and share with family members" type of subscription.
Also my account is the "family administrator", which by the way is an awesome title :)

[2018-02-04 18:43] JPRuehmann commented on #7
yes.

[2018-02-05 03:01] rpietro opened #9 "mutagen"
@and3rson awesome project, but currently I'm getting this error:

I have mutagen 1.39-1 installed through AUR (manjaro). Any thoughts on what might be going wrong?

[2018-02-05 07:53] and3rson commented on #9
What Python version do you have mutagen installed for?

[2018-02-05 14:12] svHatch commented on #7
@and3rson - yes it does. My reason for opening the issue was to propose these packages as requirements. I wasn't able to get any functionality without these packages, so I thought they might be appropriate as requirements, rather than simply throwing a warning. I may be misunderstanding the warning.

[2018-02-05 19:26] ValentijnvdBeek commented on #7
The bug is caused by the fact that Clay needs to use the official keybinder Python bindings which use PyGObject. The Keybinder bindings are as far as I can tell only in the distro's package manager and not on PyPy. This means that you need to install that separately and that you need to pass ```--system-site-packages``` to virtualenv so it can find it.

This is further complicated by the fact that

[2018-02-06 14:28] svHatch commented on #7
@ValentijnvdBeek - understood.

Can Clay be used without a keybinder? If not, then can the installation of the keybinder be part of the Clay install documentation?

[2018-02-06 14:36] ValentijnvdBeek commented on #7
@svHatch Clay can be used without the Keybinder package but it will show an error. Keybinder makes global X bindings so you can control Clay from another window (or so is my understanding). So it should have no effect if you're using it as solely a terminal program. The use of keybinder **should** probably be optional and/or configurable so Clay doesn't rely on having X and GTK installed which is

[2018-02-06 16:21] and3rson commented on #7
@svHatch fixed in #10 by @ValentijnvdBeek

[2018-02-06 16:21] #7 closed

[2018-02-06 16:50] ValentijnvdBeek opened #11 "Clay requires X and GTK despite being a console application"
As discussed in issue #7 Clay relies on the Keybinder module to define global _X_ keybinds using a shim _GTK_ program. This means that you need to install both to be able to run Clay without getting any warning messages. Which is a bit silly seeing that Clay is a console program without any graphical elements and it would be entirely reasonable to run it headless (ex. on a raspberry pi connected t

[2018-02-06 16:54] and3rson commented on #11
That's right, and it has been bothering me. I fact GTK is used *just* to use the global hotkeys.

I think I'm simply going to prevent "Global hotkeys will not work" notification and display it in "Debug" tab instead. Also, Clay does not strongly rely on Keybinder (i. e. it's not listen in requirements.)

[2018-02-06 16:55] and3rson commented on #8
Hey!

Sorry for a delay.
I've recently did some extensive testing and still cannot reproduce this.
Are you running Clay with your main ("family administrator") account?

Also, can you try the most recent version?

[2018-02-06 16:57] and3rson commented on #6
I think it makes sense to close this - it's now totally up to the simon-weber/gmusicapi devs to implement this.

[2018-02-06 16:57] #6 closed

[2018-02-06 17:00] ValentijnvdBeek commented on #11
Pull request #12 should hopefully be along the lines of what you want.

[2018-02-07 20:59] #11 closed

[2018-02-13 17:24] ValentijnvdBeek opened #14 "Lengthen the release cycle?"
Heya,

I have been following this project for the past two weeks or so and I noticed that the release cycle for Clay is incredibly short. Clay is currently on release number 0.7.2 after just two to three weeks of work and doesn't really seem like each release offers enough differences on its own to warrant it.

For instance, the difference between release 0.7.0 and 0.7.2 is a single command line f

[2018-02-13 17:58] and3rson commented on #14
Hey,

I think it totally makes sense.
The reason why I was doing such frequent releases was mainly because the project was still alpha and there were a lot of changes each day, but I wanted to keep Clay on PyPi fresh at all times. This was also reason for a major version `0`.

I think we can switch to a milestone flow now here on GitHub and release new version every few months.

I suggest that we

[2018-02-13 18:35] and3rson opened #16 "[BACKLOG] Player testing"
It would be great to have testing with a mocked Google Play client. Currently have only code style checks.

Putting this issue here to remember about it someday.

[2018-02-14 21:33] and3rson opened #18 "IRC channel"
Hey @ValentijnvdBeek, I've created an IRC channel #clay on irc.oftc.net, you can hop on there if you want to discuss something, it's more convenient.

[2018-02-14 21:34] #18 closed

[2018-02-16 22:39] rpietro commented on #9
Python 3.6.4

here is the output:

[2018-02-16 23:00] ValentijnvdBeek commented on #9
Could you try installing the `python-mutagen` package? The AUR package incorrectly doesn't depend on it.

[2018-03-07 09:06] ValentijnvdBeek opened #19 "VLC 3.x sends error messages to stdout when starting a song"
Clay version: 0.7.2
VLC version: 3.0.0

After updating VLC it will send an "[00007f15000b78e0] prefetch stream error: unimplemented query (264) in control" every time you start playing a song. This interrupts the output of Clay making the program uncontrollable and, hence, unusable.

[2018-03-19 11:40] eyalzek commented on #3
Has a fix for this been merged? I'm trying to find the relevant code in order to change it on v 0.7.2 but can't find it... This looks like the closest:
https://github.com/and3rson/clay/blob/0.7.2/clay/gp.py#L244-L248

[2018-04-02 11:55] ecocode opened #22 "thumbs up playlist isn't listed"
On the playlist tab:
the automatically maintained 'Thumbs up' playlist isn't listed

[2018-04-02 14:27] Fluctuz commented on #22
it looks like the 'rating' branch has the "Thump up" playlist implemented, but I am not sure if the branch works

[2018-04-03 17:25] ValentijnvdBeek commented on #22
The branch works but the display of the thumbs up isn't accurately displayed yet.

[2018-04-06 08:33] and3rson commented on #19
Yeah, VLC is sometimes pretty rude in terms of logging. Does this happen due to some certain conditions?

[2018-05-02 14:55] metaheavens opened #24 "Crash when hitting down"
I was typing in the search bar, and then hit the down button of my keyboard. The CLI crashed and this stacktrace appear:

[code]

[2018-05-02 14:57] metaheavens opened #25 "Font problem with Monospace Regular Powerline"
I have a font problem that you can see below:

![2018-05-02-165614_953x21_scrot](https://user-images.githubusercontent.com/14920788/39530776-f29f2b18-4e29-11e8-9ed9-1c7e7db42716.png)

[2018-05-02 20:00] ValentijnvdBeek commented on #24
Tried to reproduce this and it seems to only happen if there are no hits.

[2018-05-02 22:18] metaheavens commented on #24
The bug stays on filter-hotfix.

[2018-05-26 20:07] ValentijnvdBeek commented on #22
Should be fixed in #26

[2018-05-26 20:13] ValentijnvdBeek commented on #24
I really can't reproduce this, so I am going to file a merge request because that works on my machines (tm) and should hopefully fix it for someone other people.
If someone can reproduce in some way, please let me know!

[2018-05-26 20:17] ValentijnvdBeek commented on #8
Closing due to inactivity.

[2018-05-26 20:17] #8 closed

[2018-05-31 07:49] jostyee opened #28 "macOS support?"
Hi,

I tried to install clay via pipy:
[code]

but can't start it:
[code]

how can I resolve this problem? there was a (maybe) related issue: https://github.com/oaubert/python-vlc/issues/37

[2018-05-31 14:34] ValentijnvdBeek commented on #28
I _think_ that it is the bug in the VLC bindings generator that you found above which was only fixed after we generated our copy.

I'll update our bindings in the ratings branch but I would need you to check whether that fixes the issue since I don't own any OS X machines.

[2018-06-01 03:49] jostyee commented on #28
https://github.com/and3rson/clay/commit/67d9f97897eb3ee1c40c7cb54814e18e0a4f1658 doens't work...

[code]

[2018-06-03 16:42] #22 closed

[2018-06-03 16:42] #24 closed

[2018-06-03 16:42] #25 closed

[2018-06-08 14:42] Benjamin753 opened #29 "change keybinds"
I use i3 with alt as main modifier, this makes it impossible to change tabs in clay. Is there a possibility to change keybinds to own preference?

[2018-06-21 07:20] nomarkeu opened #30 "Thumbs up playlist"
I can't find the autocreated thumbs up playlist.

[2018-06-21 08:39] ValentijnvdBeek commented on #30
What version are you running?

[2018-06-21 08:41] nomarkeu commented on #30
I don't know how to check the version. I installed from pip. Is there a command to check version?

[2018-06-21 08:45] ValentijnvdBeek commented on #30
It is on the bottom left of the screen but if you installed through pip it doesn't have that feature.

[2018-06-21 08:52] nomarkeu commented on #30
Version is 1.0.2. It's a crucial feature for me. I'll see if can install from source untill a new release.

This is off-topic but is there a way to install it from source and use the usual **clay** command/ instead of ./clay/app.py?

[2018-06-21 08:59] ValentijnvdBeek commented on #30
Making a file called clay in ~/.local/bin/ with the following content should work:
``
#!/bin/sh

CLAY_PATH="/path/to/clay"
source "$CLAY_PATH/.env/bin/activate"
$CLAY_PATH/clay/app.py
``
You can check whether it is calling the right script using the `which` command

[2018-06-21 09:14] nomarkeu commented on #30
It doesn't seem to get all the songs in the list. I can't seem to ascertain the general behaviour. If I add the song to the library by right-clicking (from the gplaymusic website) it shows up in clay. But some other songs  that I uploaded to gplaymusic (they don't have the add/remove from libary option) don't show up as well.

[2018-06-21 23:32] carneeki commented on #25
I have the same font problem in commit 40390c4, I also have powerline installed. Toggling the value `clay_settings:`/`unicode` between `true` and `false` in `~/.config/clay/config.yaml` did not fix this.

[2018-06-30 07:39] #30 closed

[2018-07-04 21:31] jacsmith21 opened #31 "Rating Icon KeyError"
When converting tracks to a songlist, a KeyError occurs as 3 is not in `RATING_ICONS`. This is the line where the error occurs:
[code]

Looking at my account, the song that causes this issue has no thumb so adding `3: ' ',` seems to fix the issue.

[2018-07-05 17:52] luistoledo commented on #28
I have the same issue. This are my tests and hypotesis. I may helps somebody

First, checks the dylib defined on vlc.py (/clay/vlc.py#L179)

$ otool -L /Applications/VLC.app/Contents/MacOS/lib/libvlc.dylib
/Applications/VLC.app/Contents/MacOS/lib/libvlc.dylib:
	@rpath/libvlc.dylib (compatibility version 12.0.0, current version 12.0.0)
	@rpath/libvlccore.dylib (compatibility version 10.0.0, current

[2018-08-09 10:51] #31 closed

[2018-08-09 10:51] and3rson commented on #31
Thanks for the report! I've added the missing values. It's weird how Google stores ratings.

[2018-08-15 22:15] ValentijnvdBeek commented on #18
Just downloaded Matrix and joined the channel so that should work pretty decently now..
I tried it before but often lost connection and the IRC clients I used didn't save history which made it awkward to use.

[2018-08-19 23:13] ValentijnvdBeek opened #32 "MPRIS2 support"
Support the Media Player Remote Interfacing Specification D-Bus protocol.

### Rationale:
Supporting MPRIS2 would allow one to control Clay with generic tools like playerctl and replace the current global keybindings system. This would allow us to fully drop Gtk as a dependency, simply our parsing logic and empowers headless users to globally bind keys [1].

It wouldn't add any dependencies to Cla

[2018-08-21 21:38] irishgordo opened #33 "Dockerfile Build Issue"
When I run something like:
```docker build -t clay:latest .```
(inside the git project directory)
seemingly most things cary across yet it errors out on:
[code]

[2018-08-21 22:54] ValentijnvdBeek commented on #33
I am afraid you're running the wrong command which is causing it to fail since it is missing some environment variables you need to pass in yourself.

The correct Docker command is:
[code]

But I would recommend just running `make run` as is described in the README.

[2018-08-21 22:54] #33 closed, assigned to nobody

[2018-09-01 22:41] ValentijnvdBeek opened #34 "Album & Artist View"
A long standing missing vital feature was an artist/album view.

- [x] All songs by an artist
- [x] Artist list
- [x] Top songs
- [x] Albums
- [x] Uploaded artists
- [x] Album view
- [ ] Album append
- [ ] Search in all screens

[2018-09-05 00:22] SilasReinagel opened #35 "Windows Can't Launch Clay"
Error message:

[code]

[2018-09-05 09:04] ValentijnvdBeek commented on #35
Hi Silas, thanks for the bug report.

It looks like it can't find the libvlc library on your system, could you double check whether it is installed? By the way, are you running it on native Windows or on the Linux Subsystem for Windows (which I would recommend)?

As far as I know neither me or @and3rson run Windows as our primary operating system so it is defacto a secondary citizen. If somebody i

[2018-09-05 15:56] SilasReinagel commented on #35
@ValentijnvdBeek Aha. That helped me get one step closer.

For context, I am not using the Linux Subsystem for Windows.

Apparently installing VLC is a prerequisite for using Clay, and is not automatically installed with Clay. That got me past the previous error.

Now I have a new error message

[code]

StackOverflow seems to indicate that this might be an issue with the way the process is being l

[2018-09-08 14:19] and3rson commented on #35
@SilasReinagel Thank you for the report. Can you validate that your VLC matches the architecture of your Python installation? (32/64)

I'll try to run clay in VM and reproduce it tomorrow.

[2018-09-09 12:10] and3rson commented on #35
@SilasReinagel I could not reproduce this, but Windows is not supported by urwid lib that we use for TUI so that's another blocker. I maintain urwid and we currently have Windows support on the roadmap, but it won't be coming very soon... Thus Clay will not support Windows anytime soon either. :(

[2018-09-09 12:32] ValentijnvdBeek commented on #35
@and3rson Does it work in the Windows Subsystem for Linux? That might be a better way to support Windows system since it would decrease the maintenance workload on Clay.

Personally I feel like it would be a decent trade off since we are not targeting the average user but rather a more advanced level subsystem that prefer commandline[1] applications over GUI applications.

[1] In spite of Clay req

[2018-09-09 12:37] ValentijnvdBeek commented on #35
@SilasReinagel @and3rson I just switched the bug for the wontfix tag since it seems to me like this is expected behaviour and that there isn't a lot we can do about it until urwid adds Windows support. I also changed the name to indicate that it applies to all versions of Windows.

Do you both agree with this?

[2018-09-09 19:57] SilasReinagel commented on #35
@ValentijnvdBeek That’s unfortunate, but acceptable. Perhaps I will experiment with the Windows Subsystem in the near future.

[2018-09-12 19:34] parkerlreed commented on #11
How would one use this over SSH? (Computer is hooked into speakers)

Using JuiceSSH on my phone, pressing Alt and then 9 just inputs 9. There's no way for me to get to the Settings page.

[2018-09-12 19:36] parkerlreed opened #36 "Application non-functional over SSH"
Using JuiceSSH on my phone for example, there's no way to get to the Settings tab. Alt modifier locks, but when I press 9 it just inputs "9"

EDIT: This may be related solely to JuiceSSH. Works fine when trying from a regular SSH client on computer.

[2018-09-13 00:55] ValentijnvdBeek commented on #36
Hi Parker,

Thanks for the bug report, but I think it is a JuiceSSH issue. I just looked at it and I think that JuiceSSH is sending both keys separately which trips up urwid when you're too slow. Using the number keyboard works pretty well and is only iffy with the settings page or the debug page (which you rarely need). Even then, it works if you're quick enough.

Also if you don't mind not being

[2018-09-13 13:01] parkerlreed commented on #36
Thanks! Indeed being a bit more quick works. :D Thanks for the heads up about the config. Will keep that in mind.

And yeah, I like the look too https://ibb.co/dzgBup

[2018-09-13 13:01] #36 closed, assigned to nobody

[2018-09-18 02:40] agg23 opened #37 "The existence of python-dbus does not imply the existence of notifications"
From `osd.py`:
[code]

This resulted in a crash on a barebones environment that does not have a notification system set up, but happened to have the dbus package installed.

[2018-09-18 03:26] agg23 opened #38 "No tracks displaying"
After managing to sign into Google Music (Clay seems to ignore the set hotkey, and I had i3 mod set to alt), no tracks are loading. The debug menu is filled with many entries like the following:

`Failed to parse track data: KeyError('explicitType'), failing data: {'kind': 'sj#track', 'id': 'b3a2725c-56fe-3b5b-b14d-5a0e64f96abb', 'clientId': 'HMxkLKV0VR7ettZgy7pieA', 'creationTimestamp': '15371111

[2018-09-18 15:23] ValentijnvdBeek commented on #37
Hello agg,

First of all, thanks a lot for reporting and recommending a fix for these bugs. I do rather appreciate it.

However, I am sad to say that both of these bugs are either already fixed in the porcelain branch or those specific parts of the code have been rewritten (e.x. we now use pydbus). So for that reason I am going close both merge requests.

Sorry for not communicating that better.

[2018-09-18 15:27] agg23 commented on #37
No problem. Just wanted to make clay usable for me. I'll probably be playing with it more and submitting changes (that you might or might not like) in the near future.

[2018-09-18 15:32] ValentijnvdBeek commented on #37
Any changes would be great.

Also, it might be a good idea to work on the Porcelain branch instead since it changes a crazy amount of stuff and merging changes to the master branch back into is going to be major pain.

I am also reopening the issue itself since it is valid.

[2018-09-20 02:14] agg23 opened #43 "Queue does not move to the next track"
Under standard operation the queue does not begin playing the next track. This occurs (or rather, doesn't occur) at the end of a track and by manual advancement of tracks.

[2018-09-20 02:36] lee-tts opened #45 "Possible Device IDs not showing"
The readme suggests the following:

Where will they display? Debug and Settings tab show no signs, besides 'Is authenticated: False'. Is there a log somewhere? I've entered a 'wrong' id twice, once using one found randomly online, and once using the string reported by `adb devices`.

Running Ubuntu 18.04, installed via `pip`.

Of possible note: I am on gpm family plan as a family member, not the m

[2018-09-20 02:52] lee-tts opened #46 "Settings page UI is unclear"
On my setup once you enter a user name, password, etc., you cannot change this from the clay interface. Changes will revert to what was stored in the config file.

Ubuntu 18.04, installed from `pip`.

[2018-09-20 02:53] lee-tts commented on #45
It occurs to me that the 'Device ID' may have nothing at all to do with my phone. Device refers to my computer?

[2018-09-20 12:26] and3rson commented on #46
Hi @lee-tts, thanks for reporting!

1. Do the updated credentials apply within the session once you hit "save"?
2. Are you sure your `~/.config/clay/config.yaml` file has the proper read/write permissions?
3. Does this influence changes to all fields?

[2018-09-20 13:09] and3rson commented on #45
Thanks for report!

Definitely a bug - I can reproduce this too.

[2018-09-20 13:26] ValentijnvdBeek commented on #45
A quick work around while this bug exists is to start a python prompt and write the following commands:
[code]
This will give you an exception with your device ID.

Also, sidenote, it seems prudent that Clay does this automatically for you instead of showing it in the notification area. However, this should be done at a future point in time.

[2018-09-20 13:52] agg23 commented on #45
In addition, as far as I know, you cannot copy from the notification area, so even when Clay does show the possible ids as a notification, it doesn't do any good unless you want to type the whole thing out.

[2018-09-21 01:36] lee-tts commented on #45
Thanks for the updates and workaround.

When I try to use the api login, it returns `False`. Makes me think the issue might lie with gmusicapi or my own account (which as I mention is a submember of a family plan).

    lee@lee:~$ python
    Python 2.7.15rc1 (default, Apr 15 2018, 21:51:34)
    [GCC 7.3.0] on linux2
    Type "help", "copyright", "credits" or "license" for more information.

    Ty

[2018-09-21 01:52] lee-tts commented on #46
Wow, totally overlooked that save 'button'. My bad! Close? Maybe put some more space between the save button and the following EQ section? Might make the UI a bit more idiot proof haha.

[2018-09-21 02:07] lee-tts commented on #45
Quick update. I tried logging in with another account, one which does not have any GMP subscription of any kind, and that also has 2FA. Used app password.

Logs in just fine, offered device ids, and once it's entered it seems to work. Search works, but cannot play anything (obviously—not a GMP member with this account).

So it seems to be an account problem rather than a problem generally with Cla

[2018-09-21 14:03] agg23 opened #47 "Option for search shortcut"
Currently the interface essentially forces one to use modifier keys to access most of its functionality, whether that is playing/pausing, adding to the queue, or switching tabs. Interestingly enough, if you bind those functions to single keys, the operations still work, but you can no longer type in a search box.

Ideally this would be toggleable functionality, so if someone binds search to a shor

[2018-09-21 14:07] agg23 opened #48 "Podcast support"
In furthering the support of Google Music inside of Clay, it would be nice if podcast support was introduced, much in the style of the artists/albums page.

In addition to simply playing podcasts, previously "completed" podcasts should have some visible indication to mark them as played, and podcast progress should be synced with Google every few minutes, so one can start a podcast on one machine,

[2018-09-21 15:25] ValentijnvdBeek commented on #46
Hi @lee-tts

I changed the title and tag to what I think would better reflect what the issue is. Are you alright with what I changed?

[2018-09-21 15:47] ValentijnvdBeek commented on #47
I agree that this is a problem especially seeing bind a common modifier + keys (e.x. C-c and C-m) to various signals to be backwards compatible with very old systems. This will randomly break people's configurations because it will suddenly not work without any explanation.

So I hundred percent agree and, funnily enough, started working on this just today.

[2018-09-21 15:48] agg23 commented on #47
I'm glad I created an issue then, because this was probably the next thing I was going to work on :P

[2018-09-21 15:55] ValentijnvdBeek commented on #47
I wouldn't have recommended it since it requires a pretty big rethink on how Clay hotkeys work in general (which are kinda pain to be honest).

The reason why 40928f99fe51b1aa628fd0e3f4fb5a0d7f674c1d doesn't include it is because I wanted to be able to easily reverse the commit it if our eternal god emperor @and3rson disagreed with it.

[2018-09-21 16:01] ValentijnvdBeek commented on #48
I like the idea of adding the podcast functionality to Clay and I like your proposed way of how they should work. My problem is that is currently [region restricted to the North American subcontinent.](https://support.google.com/googleplaymusic/answer/6343833?hl=en).

Personally I am not a very big fan of adding features that only a small subsection of users can use (including both me & @and3rson)

[2018-09-21 16:06] agg23 commented on #48
Would you still be opposed to it if we defaulted to the page/component being disabled? I ask because it's an almost must have feature for me, and I would prefer to not have the feature sitting off in my own fork. I perfectly understand the mentality of not wanting to maintain something you can't even use, however, so I respect your judgement.

[2018-09-21 16:27] ValentijnvdBeek commented on #48
I really do get your point of view because I understand that it would be a very important to you and, presumably, a lot of other people. The problem isn't that I can't use it but that it is a functionality we can't test, we can't fix bugs for, we can't review the code of and hence is basically unmaintainable for us. Any attempt for us to do any maintenance would require us breaking Google's TOS an

[2018-09-22 02:30] lee-tts commented on #46
Yes, thank you!

[2018-10-05 22:43] CaptainJawZ opened #50 "Support for playing uploaded music"
I noticed my library/playlists were smaller on clay, and after looking through the song lists I noticed it was because it isn't displaying the music I uploaded myself to google servers, any way to adjust this?

Besides that it's an amazing app!

[2018-10-05 22:58] ValentijnvdBeek commented on #50
Hello @CaptainJawZ,

Thanks for reporting and the kind words. Could you go into the debug tab (alt + 0), copy the error messages there (press enter) and paste them here so we can take a look at them?

[2018-10-06 00:35] CaptainJawZ commented on #50
Hello! thanks for your reply! so here is one of the errors it shows, reading through the metadata I can tell this is in fact one of the songs I've uploaded

`Failed to parse track data: KeyError('explicitType',), failing data: {'discNumber': 1, 'totalDiscCount': 1, 'albumArtist': 'Mariah Carey & My Chemical Romance', 'id': '23d1cd49-9e00-394a-8eab-0e240cebf7ac', 'deleted': False, 'durationMillis':

[2018-10-06 12:43] ValentijnvdBeek commented on #50
I have looked at the error and it is actually something we fixed in the development branch a few weeks ago, however we haven't made a release which includes it yet. To fix you need to change line 131 in `gp.py` from `self.explicit_rating = int(data['explicitType'])` to `self.explicit_rating = (int(data['explicitType'] if 'explicitType' in data else 0))`

ps. I know this should be cleaned up a bit.

[2018-10-06 16:40] CaptainJawZ commented on #50
I tried it out and now works perfectly! thank you so much!

[2018-10-29 03:31] itsthejoker commented on #28
I'm experiencing the same thing. I'll try to take a look, but no guarantees.

[2018-11-18 18:53] markmark1 opened #51 "getting this error OSError: dlopen(/Applications/VLC.app/Contents/MacOS/lib/libvlc.dylib, 6): Library not loaded: @rpath/libvlccore.dylib Referenced from: /Applications/VLC.app/Contents/MacOS/lib/libvlc.dylib Reason: image not found"
Traceback (most recent call last):
  File "/usr/local/bin/clay", line 9, in <module>
    load_entry_point('clay-player==1.1.0', 'console_scripts', 'clay')()
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/pkg_resources/__init__.py", line 565, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/System/Library/Frameworks/Pyt

[2018-11-22 21:03] agg23 commented on #51
Do you have VLC installed? Does the `.dylib` exist at that path?

[2018-11-22 21:27] markmark1 commented on #51
Yes, I do Have it installed

How do I find if it's available in the path pls Adam thanks so much

[2018-11-22 21:42] agg23 commented on #51
Navigate to /Applications/VLC.app, right click on it and choose "View Package Contents" (or something to that effect). Navigate to Contents/MacOS/lib/ and make sure `ibvlccore.dylib` exists. I would check for you (at least in the standard VLC distribution for macOS), but I don't have easy access to a Mac right now.

There are two things I would try. First, you're using Python 2.7, whereas Clay is

[2018-11-22 22:58] ValentijnvdBeek commented on #51
Hi everyone, sorry for being a tad late. I have been a bit busy with school lately.

First things first, this is a duplicate of #28 and the problem basically boils down to the fact that none of Clay's contributors run any operating system besides GNU/Linux so any other operating are, sadly, entirely unsupported. Any help wanted in actively testing and contributing in this fields would be greatly a

[2018-11-23 00:13] agg23 commented on #51
Interesting. The README has stated 3.x up since the second commit to the repo.

If I get time, I might look into what needs to be done to make it work in macOS.

[2018-11-23 00:19] markmark1 commented on #51
Pls do need clay on macOS … you guys are amazing
On Nov 22, 2018, 4:13 PM -0800, Adam Gastineau <notifications@github.com>, wrote:

[2018-11-23 00:20] markmark1 commented on #51
Thanks valentjin
You are great
How do I know if I have mpv
On Nov 22, 2018, 2:58 PM -0800, Valentijn <notifications@github.com>, wrote:

[2018-11-23 00:32] markmark1 commented on #51
Cant install now ython/2.7/site-packages/mutagen/oggvorbis.py to oggvorbis.pyc
byte-compiling /Library/Python/2.7/site-packages/mutagen/optimfrog.py to optimfrog.pyc
byte-compiling /Library/Python/2.7/site-packages/mutagen/_tags.py to _tags.pyc
byte-compiling /Library/Python/2.7/site-packages/mutagen/aac.py to aac.pyc
running install_data
creating /System/Library/Frameworks/Python.framework/Versio

[2018-11-23 00:33] markmark1 commented on #51
ore.dylib
Referenced from: /Applications/VLC.app/Contents/MacOS/lib/libvlc.dylib
Reason: image not found
mark@marks-MacBook-Air-2 ~ $ unset PYTHONPATH;clay
Traceback (most recent call last):
File "/usr/local/bin/clay", line 11, in <module>
load_entry_point('clay-player==1.1.0', 'console_scripts', 'clay')()
File "/usr/local/lib/python3.7/site-packages/pkg_resources/__init__.py", line 484, in load_e

[2018-11-23 13:35] ValentijnvdBeek commented on #51
@agg23

Apparently it does yeah but our CI does test whether it works for [Python 2](https://travis-ci.org/and3rson/clay/jobs/414017161), our Github has the Python 2 tag and [the code is written so it works in  Python 2](https://github.com/and3rson/clay/blob/master/clay/player.py). In fact the only reason why I decided to drop it in the `porcelain` branch was because the way we did enums was rathe

[2018-11-28 12:24] #51 closed, assigned to nobody

[2018-11-28 14:27] markmark1 commented on #51
Got it, thank you. This is a good project

[2019-01-02 20:35] ValentijnvdBeek opened #52 "Improve the documentation"
Clay currently misses a few vital pieces of documentation that need to be added in the future. Preferably before the next version is released however, in my opinion, this is not a blocking issue.

The documentation that should written or modified:
- [ ] an usage man page
- [ ] a configuration man page
- [ ] sphinx documentation
- [ ] an rst version of the README for PyPy
- [ ] improved docstrings

[2019-02-20 13:12] victorfontes commented on #28
The fix that worked for me was: https://github.com/oaubert/python-vlc/issues/37#issuecomment-363491486

But now I get "illegal hardware instruction" (Im building from source)

[2019-02-20 13:20] ValentijnvdBeek commented on #28
@victorfontes

Thanks for that tip, I'll look into it.

I am guessing the bug is still on the part of VLC or another of our dependencies? Clay is pure Python so I don't think that there is much room for us to have illegal hardware instructions so it must be something written in CPython.

Also, complete aside but I noticed it after posting, but I am the only who gets profoundly uncomfortable with g

[2019-02-22 08:02] syslino commented on #3
I'm still getting the same error!
- Clay Player 1.1.0 (amber storm)

[2019-02-22 08:17] syslino commented on #3
I'm still getting this error. Here's the message from the debug tab. https://pastebin.com/iVkRM6i9

- Clay Player 1.1.0 (amber storm)
- Archlinux, everything updated
- Python 3.7.2
- vlc 3.0.6-0-g5803e85f73
- Installed in fresh venv
- Paid All Accesss. Before I got AA, I bought some songs off the store, if that is relevant.

I'm paying  for Youtube premium which includes access to Play Music and Y

[2019-02-25 18:13] morgoth opened #54 "Unable to autolaunch a dbus-daemon"
Hey, I'm trying to run clay on Ubuntu server 18.04
I'm getting error:
[code]
so I  tried to `export DISPLAY=:0`, but know I'm getting:
[code]
Do you know what can be wrong?

[2019-02-25 19:07] ValentijnvdBeek commented on #54
Hi Morgoth,

It is trying to launch the XDG notification services but it is failing since you don't have X11 installed. This *should* be fixed in the development branch (porcelain) but that has been taking forever to merge.

Commenting out line 61 in clay/osd.py and line 421 in clay/player.py should work

[2019-04-27 13:48] guitmz opened #55 "Unsafe load() call disabled by Gentoo. See bug #659348"
I have installed clay just now in my Gentoo system and upon the first run I got the error message. Full error:

[code]

Relevant Gentoo bug report https://bugs.gentoo.org/659348

It looks trivial to fix this issue (but I haven't really tried yet). Replacing `yaml.load()` calls with `yaml.safe_load()` should do it. Let me know your thoughts on this one.

I also recommend replacing `yaml.dump()` wit

[2019-04-27 18:30] ValentijnvdBeek commented on #55
Hi Guilherme,

I just took a look and you seem to be right. Following your recommended fix works fine and didn't break anything. I included a patch file at the end including the fix but I am afraid you'll have to apply the patch yourself. I am not the owner of Clay so I can't release the new version and I am afraid that it will take another 99 years for him to appear underneath an Inuit village fr

[2019-07-13 20:10] JeffLabonte opened #56 "List index error"
I am getting an index error when I am saving my settings.

[code]

[2019-07-14 10:43] ValentijnvdBeek commented on #56
Hi Jeff,

Changing `MyLibraryPage` to `library` on line 193 in the `pages/settings.py` file will fix this issue. That being said, this is kind of weird behaviour.

Cheers,

Valentijn

[2019-07-15 06:12] JeffLabonte commented on #56
Thank you for your quick answer!

[2019-07-15 06:17] JeffLabonte commented on #56
still getting issue after change :

[code]

[2019-07-15 06:52] JeffLabonte commented on #56
I fixed it and I made the build pass again! The PR is opened for you to have a look!

[2019-07-21 22:43] #56 closed, assigned to nobody

[2019-07-26 17:18] prickee opened #62 "Traceback on Arch"
when running clay i get this error..

$ clay
``Traceback (most recent call last):
  File "/home/mkr/.local/bin//clay", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python3.7/site-packages/pkg_resources/__init__.py", line 3241, in <module>
    @_call_aside
  File "/usr/lib/python3.7/site-packages/pkg_resources/__init__.py", line 3225, in _call_aside
    f(*arg

[2020-02-06 14:14] lillesvin opened #64 "Going to previous track with XF86AudioPrev only seeks to beginning"
Attempting to use XF86AudioPrev to go to the previous track only seeks to the beginning of the current track.

Ctrl-a works as expected, so I'm guessing it's simply calling the wrong function on XF86AudioPrev.

[2020-11-09 10:34] frederik-b opened #65 "Google Play music login failed (API returned false) - 2FA / MFA"
I enabled 2/multi factor authentication for google and I assume thats the reason it can't log in.

This is the error that shows up when I hit save on the settings page and clay crashes:
[code]